*{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100vw;
    height: 100vh;
}

header#home{
    background: url(../links/jesse_m_homepage_header_bg_mob.jpg);
    background-size: cover;
    background-position: top right;
    position: relative;
    background-repeat: no-repeat;
}

header#services-page,
header#products-page{
    background: url(../links/services_header_bg_mob.jpg);
    background-size: cover;
    background-position: bottom right;
    position: relative;
    background-repeat: no-repeat;
}

header#products-page{
    background: 
        linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),
        url(../links/products_header_bg_mob.jpg);
    background-size: cover;
    background-position: top right;
    position: relative;
    background-repeat: no-repeat;
}

header#about #header-content{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

header#about #header-content h1.about-h1{
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    color: #41444A;
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    margin: 0px auto 40px;
}

header#services-page h1,
header#products-page h1{
    width: 85%;
}

header#about #header-content p{
    font-family: 'Magneta', serif;
    font-weight: 600;
    font-size: 14px;
    color: #548f9c;
    line-height: 18px;
    margin: 10px auto;
}

header#blog{
    width: 100vw;
    height: auto;
}

header img.main-logo{
    display: block;
    width: 40%;
    max-width: 120px;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
}

header img.main-logo.nav-active{
    filter: brightness(0) invert(1);
    position: fixed;
}

nav{
    display: none; /* CHANGE TO NONE */
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #548f9c;
    z-index: 100;
    padding: 150px 20px;
    box-sizing: border-box;
}

nav ul{
    text-align: center;
}

nav ul li{
    list-style: none;
    margin: 20px auto;
}

nav ul li a{
    font-family: 'lato', sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

header #header-content{
    position: absolute;
    top: 160px;
    left: 20px;
}

header h1{
    font-family: magneta, serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #548f9c;
    font-size: 24px;
    width: 75%;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 0px 0px 15px;
}

header .leaves{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 270px;
}

/* specific class styles */
.cta{
    margin: 0px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    background-color: #DBC569;
    border: 1px solid #DBC569;
    border-radius: 100px;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #41444A;
    transition: all 1s ease;
}

#welcome,
#services{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #f2f7f8;
}

h2{
    color: #548f9c;
    font-family: 'Magneta', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
    margin: 0px auto 20px;
}

h2 .smallcaps{
    font-size: 22px;
}

p{
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #41444a;
    text-align: center;
    margin-bottom: 20px;
}

p:last-of-type{
    margin-bottom: 0px;
}

#programs,
#blog-catchup,
#contact-us,
#mission,
#qualifying{
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

#programs .cta,
#blog-catchup .cta,
#contact-us .cta{
    margin: 30px auto;
}

h3{
    font-family: 'lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #548f9c;
}

#blog-catchup img{
    width: 100%;
    display: block;
    margin: 20px auto;
}

h4{
    font-family: 'Magneta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #548f9c;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

h5{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #41444a;
    margin: 10px auto 20px;
}

#services{
    text-align: center;
}

#services .cta{
    margin-top: 50px;
}

#prefooter{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #dee1e7;
}

#prefooter .prefooter-col p{
    color: #548f9c;
}

#prefooter .prefooter-col ul{
    list-style: none;
}

#prefooter .prefooter-col ul.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
}

#prefooter .prefooter-col ul.nav li{
    width: calc(100% / 2 - 25px);
    margin: 10px 0px;
}

#prefooter .prefooter-col ul.nav li a{
    font-family: 'lato', serif;
    color: #41444A;
    font-size: 14px;
    text-decoration: none;
}

#prefooter .prefooter-col ul.social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
}

#prefooter .prefooter-col ul.social img{
    width: 40px;
}

#prefooter .prefooter-col ul.contact-detail{
    padding: 20px 50px;
    box-sizing: border-box;
    text-align: center;
}

#prefooter .prefooter-col ul.contact-detail li{
    font-family: 'lato', serif;
    color: #41444A;
    font-size: 14px;
    text-decoration: none;
    margin: 10px auto;
    letter-spacing: 1px;
}

footer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #DBC569;
}

footer p,
footer p a{
    font-size: 12px;
    text-decoration: none;
    color: #41444A;
    margin: 0px;
}

#testimonials{
    width: 100vw;
    padding: 25px;
    box-sizing: border-box;
}

#testimonials #three-col .three-col-content{
    margin: 0px auto 40px;
    text-align: center;
}

#testimonials #three-col .three-col-content img{
    width: 100%;
    height: auto;
    margin: 0px auto 10px;
}

#testimonials #three-col .three-col-content a.cta{
    margin: 20px auto;
}

#testimonials #testimonials-text .testimonial-text-content{
    margin: 0px auto 50px;
}

#services-3-col .services-3-col-item{
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 10px auto 30px;
    background-color: #f2f7f8;
}

#services-3-col .services-3-col-item img{
    width: auto;
    height: 65px;
    margin: 0px auto 10px;
}

#services-3-col .services-3-col-item h4{
    font-size: 18px;
    margin: 10px auto 20px;
}

#services-3-col .services-3-col-item p{
    font-size: 14px;
    line-height: 24px;
}

#products-2-col #products-imagery{
    display: none;
}

#products-2-col #products-detail .products-detail-text{
    margin: 0px auto 50px;
}

#products-2-col #products-detail .products-detail-text:last-child{
    margin: 0px auto 0px;
}

ol{
    padding: 0px 20px;
}

ol li{
    font-family: 'Magneta', serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #41444a;
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #548f9c;
}

ol.sublist{
    padding-left: 15px;
}

ol.sublist li{
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #41444a;
    text-align: left;
    margin-bottom: 20px;
    list-style: lower-alpha;
    text-transform: none;
}

#blog-list{
    padding: 150px 20px 20px;
    box-sizing: border-box;
}

#blog-list #blog-content #blog-content-container{
    text-align: center;
}

#blog-list #blog-content #blog-content-container .blog-content-item{
    margin: 20px auto;
}

#blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-image{
    width: 100%;
    height: 250px;
    margin: 0px auto 20px;
}

#blog-list #blog-content #blog-content-container .blog-content-item .cta{
    margin: 20px auto;
}

#blog-list #blog-links{
    display: none;
}

#blog-post{
    padding: 150px 20px 20px;
    box-sizing: border-box;
}

#blog-post h1{
    font-family: magneta, serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #548f9c;
    font-size: 24px;
    width: 100%;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 0px 0px 15px;
    text-align: center;
}

#blog-post h2{
    font-family: magneta, serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #41444A;
    font-size: 18px;
    width: 100%;
    line-height: 26px;
    letter-spacing: 2px;
    margin: 0px 0px 25px;
    text-align: center;
}

#blog-post .blog-post-image{
    width: 100%;
    height: 250px;
    margin: 25px 0px;
}

#blog-post p{
    text-align: left;
}

#blog-post a{
    display: block;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #548f9c;
    text-align: left;
    margin: 70px 0px 40px;
}

.cta-ghost{
    background-color: transparent;
    color: #DBC569;
}

.four-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four-col-item{
    width: calc(100% / 2 - 10px);
}

.four-col-item img{
    display: block;
    height: 50px;
    margin: 20px auto;
}

.hamburger{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 101;
}

@media only screen and (min-width: 768px){
    header#home{
        background-position: bottom right;
    }

    header img.main-logo{
        width: 150px;
        max-width: 150px;
    }

    header #header-content{
        top: 220px;
        left: 50px;
    }

    header#about #header-content h1.about-h1{
        font-size: 24px;
        line-height: 38px;
        width: 80%;
    }

    header#about #header-content p{
        font-size: 18px;
        line-height: 24px;
    }

    header h1{
        font-size: 38px;
        line-height: 50px;
        width: 60%;
        margin: 0px 0px 30px;
    }

    header .leaves{
        width: 550px;
    }

    #welcome,
    #services{
        padding: 50px;
    }

    h2{
        font-size: 32px;
        line-height: 40px;
    }

    h2 .smallcaps{
        font-size: 28px;
    }

    p{
        font-size: 18px;
        line-height: 34px;
    }

    h4{
        font-size: 28px;
        margin: 25px auto 10px;
    }

    h5{
        font-size: 18px;
        line-height: 34px;
    }

    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px 30px;
    }
    
    #prefooter{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #prefooter .prefooter-col p.footer-head{
        text-align: left;
    }

    #prefooter .prefooter-col ul.nav{
        padding: 20px 0px;
    }

    #prefooter .prefooter-col ul.social{
        padding: 0px 0px 0px 20px;
    }

    #prefooter .prefooter-col ul.contact-detail{
        padding: 20px 0px;
        text-align: right;
    }

    #testimonials #three-col .three-col-content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: left;
    }

    #testimonials #three-col .three-col-content img{
        width: 250px;
        height: auto;
        object-fit: cover;
        margin: 0px 20px 0px 0px
    }

    #testimonials #three-col .three-col-content h4,
    #testimonials #three-col .three-col-content h5,
    #testimonials #three-col .three-col-content p{
        text-align: left;
    }
    
    #services-3-col{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 50px;
    }

    #services-3-col .services-3-col-item{
        width: calc(100% / 2 - 30px);
        height: auto;
        display: block;
    }

    ol li{
        font-size: 20px;
        line-height: 26px;
    }

    ol.sublist li{
        font-size: 16px;
        line-height: 20px;
    }

    #blog-list{
        padding: 150px 20px 20px;
        box-sizing: border-box;
    }
    
    #blog-list #blog-content #blog-content-container{
        text-align: left;
    }
    
    #blog-list #blog-content #blog-content-container .blog-content-item{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
    }
    
    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-image{
        width: 250px;
        height: 350px;
        margin: 0px 0px 20px;
    }

    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-text{
        width: calc(100% - 300px);
    }

    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-text h4,
    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-text h5,
    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-text p{
        text-align: left;
    }
    
    #blog-list #blog-content #blog-content-container .blog-content-item .cta{
        margin: 20px auto;
    }
    
    #blog-list #blog-links{
        display: none;
    }

    #blog-post{
        padding: 200px 50px 50px;
    }

    #blog-post .blog-post-image{
        height: 450px;
    }

    #blog-post a{
        font-size: 18px;
    }

    #blog-post{
        padding: 200px 75px 75px;
    }

    .cta{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        padding: 15px 30px;
        text-align: center;
        background-color: #DBC569;
        border: 2px solid #DBC569;
        border-radius: 100px;
        font-family: 'lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #41444A;
        transition: all 1s ease;
    }
 
    .cta-ghost{
        background-color: transparent;
        color: #DBC569;
    }

    .four-col-item{
        width: calc(100% / 2 - 100px);
        margin: 20px auto;
    }

    .four-col-item img{
        height: 70px;
    }

    .four-col-item h3{
        font-size: 18px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 1024px){
    header#home{
        background: url(../links/jesse_m_homepage_header_bg.jpg);
        background-size: cover;
        background-position: right bottom;
    }

    header img.main-logo{
        width: 130px;
        max-width: 170px;
        height: auto;
        position: absolute;
        left: 45px;
        top: 45px;
        transform: none;
        margin: 0px;
        filter: none;
    }

    header#services-page,
    header#products-page{
        background: url(../links/services_header_bg.jpg);
        background-size: cover;
        background-position: right bottom;
    }

    header#products-page{
        background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../links/products_header_bg.jpg);
        background-size: cover;
        background-position: right bottom;
    }

    header#services-page h1,
    header#products-page h1{
        width: 65%;
    }
    
    nav{
        display: block;
        width: 700px;
        height: 50px;
        padding: 15px 0px;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        background-color: #dee1e7;
    }

    nav:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url(../links/top_bar_curve-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        left: -100px;
        top: 0px;
        z-index: -1;
    }
    
    nav:after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url(../links/top_bar_curve-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        left: 100%;
        top: 0px;
        z-index: -1;
    }
    
    nav ul{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    nav ul li{
        display: inline-block;
        margin: 0px;
    }
    
    nav ul li a{
        color: #548f9c;
    }
    
    header #header-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
    }
    
    header h1{
        font-family: magneta, serif;
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: #548f9c;
        font-size: 34px;
        line-height: 44px;
        width: 600px;
        letter-spacing: 4px;
        margin: 0px 0px 30px;
    }
    
    header .leaves{
        width: 365px;
        max-width: 365px;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        top: auto;
    }

    #welcome,
    #services{
        padding: 70px 100px;
    }

    h2{
        font-size: 38px;
        letter-spacing: 4px;
        margin: 0px auto 30px;
    }

    h2 .smallcaps{
        font-size: 34px;
    }

    p{
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 2px;
    }

    #programs,
    #blog-catchup,
    #contact-us,
    #mission,
    #qualifying{
        padding: 50px 100px;
        text-align: center;
    }

    .two-col{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .two-col-content{
        width: calc(100% / 2 - 25px);
    }

    #blog-catchup{
        text-align: left;
    }

    #blog-catchup .two-col img{
        width: 100%;
    }

    h4{
        font-size: 26px;
        line-height: 32px;
        text-align: left;
        margin: 0px auto;
    }

    h5{
        text-align: left;
        font-size: 18px;
        line-break: 24px;
        margin: 0px auto 20px;
    }

    #blog-catchup p{
        text-align: left;
    }

    #testimonials{
        padding: 70px 100px;
        box-sizing: border-box;
    }

    #testimonials #three-col{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    #testimonials #three-col .three-col-content{
        display: block;
        text-align: center;
        width: calc(100% / 3 - 50px);
    }

    #testimonials #three-col .three-col-content img{
        width: 100%;
        margin: 0px auto 20px;
    }

    #testimonials #three-col .three-col-content h4,
    #testimonials #three-col .three-col-content h5,
    #testimonials #three-col .three-col-content p{
        text-align: center;
    }

    #testimonials #testimonials-text .testimonial-text-content p{
        text-align: left;
    }

    #services-3-col .services-3-col-item h4{
        text-align: center;
    }

    #products-2-col{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #products-2-col #products-imagery{
        display: block;
        width: 300px;
    }

    #products-2-col #products-imagery img{
        width: 100%;
        margin: 20px auto;
    }

    #products-2-col #products-detail{
        width: calc(100% - 350px);
        margin: 20px 0px;
    }

    #products-2-col #products-detail .products-detail-text h4,
    #products-2-col #products-detail .products-detail-text p{
        text-align: left;
        margin: 0px 0px 20px;
    }

    #blog-list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #blog-list #blog-content{
        width: calc(100% - 350px);
    }

    #blog-list #blog-links{
        display: block;
        width: 200px;
    }

    #blog-list #blog-links .blog-links-item{
        margin: 0px auto 40px;
    }

    #blog-list #blog-links h4{
        text-align: right;
        margin: 20px auto 10px;
    }

    #blog-list #blog-links ul{
        text-align: right;
        list-style: none;
    }

    #blog-list #blog-links ul li,
    #blog-list #blog-links ul li a{
        font-family: 'lato', sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #41444A;
        font-style: italic;
    }
    
    /* specific class styles */
    .cta{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        padding: 15px 30px;
        text-align: center;
        background-color: #DBC569;
        border: 2px solid #DBC569;
        border-radius: 100px;
        font-family: 'lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #41444A;
        transition: all 1s ease;
    }
    
    .cta:hover{
        background-color: transparent;
        color: #DBC569;
    }
    
    .cta-ghost{
        background-color: transparent;
        color: #DBC569;
    }
    
    .cta-ghost:hover{
        background-color: #DBC569;
        color: #41444A;
    }

    .four-col-item{
        width: calc(100% / 4 - 100px);
    }

    .hamburger{
        display: none;
    }
}

@media only screen and (min-width: 1366px){
    header img.main-logo{
        width: 170px;
    }
    
    nav{
        width: 850px;
        padding: 15px 50px;
    }

    #testimonials #three-col .three-col-content{
        width: calc(100% / 3 - 100px);
    }

    #services-3-col .services-3-col-item{
        width: calc(100% / 3 - 30px);
        height: auto;
        display: block;
    }

    #blog-list{
        padding: 250px 100px 20px;
    }

    #blog-list #blog-content{
        width: calc(100% - 250px);
    }

    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-image{
        width: 300px;
    }

    #blog-list #blog-content #blog-content-container .blog-content-item .blog-content-item-text{
        width: calc(100% - 400px);
        align-self: center;
    }

    #blog-post .blog-post-image{
        height: 550px;
    }

    #blog-post h1{
        font-size: 32px;
    }
    
    #blog-post h2{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1920px){
    header h1{
        font-size: 54px;
        line-height: 70px;
        width: 65%;
    }

    #blog-list #blog-content #blog-content-container .blog-content-item{
        width: calc(100% - 400px);
        align-self: center;
        margin: 50px 0px;
    }

    #blog-post{
        padding: 200px 120px 70px;
    }

    #blog-post .blog-post-image{
        height: 700px;
    }
}

@keyframes navSlideIn{
    0%{
        left: -100vw;
    }
    100%{
        left: 0px;
    }
}

@keyframes navSlideOut{
    0%{
        left: 0px;
    }
    100%{
        left: -100vw;
    }
}